:root {
  --basic-neutral: #888888;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark: #333333;
  --basic-gray: #A9A9A9;
  --basic-light-gray: #EEEEEE;
  --basic-transparent-white: rgba(255, 255, 255, 0.9);
  --basic-light-blue: #81B3D2;
  --basic-extra-light-gray: #F2F2F2;
  --basic-dark-gray: #666666;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;

}




body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden {
  display: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  height: 70px;
}

.main-header-logo {
  width: 136px;
  height: 70px;
}

.font-size-21 {
  font-size: 21px;
  line-height: 26px;
}

.font-size-14 {
  font-size: 14px;
  line-height: 21px;
}

.font-size-12 {
  font-size: 12px;
  line-height: 18px;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-navigation-current:not([href]) {
  color: var(--basic-light-brown);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}
.site-navigation a:active {
  color: var(--basic-light-brown);
}

.welcome {
  background: url(/img/background_photo.png) no-repeat  ;
  width: 1200px;
  height: 509px;
  padding-top: 76px;
}

.welcome-info {
  width: 470px;
  margin: auto;
 
}

.welcome, .welcome-info, .benefits-text {
  text-align: center;
}

.benefits-text {
  font-weight: normal;
  color: var(--basic-dark);
  min-width: 519px;
  min-height: 26px;
  padding: 0 10px;
}

.benefit-1 {
  background-color: var(--basic-light-blue);
  display: grid;
  grid-template-columns: 1fr 800px;
  width: 1200px;
  height: 256px;;
}

.benefit1-text-container {
  text-align: center;
  margin: auto;
  width: 297px;
}

.benefits-title-1 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  width: 122px;
  margin-right: auto;
  margin-left: auto;
}

.benefits-info-1 , .benefits-number-1 {
  font-weight: normal;
  color: var(--basic-white);
}


.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.features-item {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
}



.features-item img,
.features-item span {
  margin-bottom: 30px;
}

.features-item {
  margin-top: 60px;
}

.features-info {
  font-weight: normal;
  color: var(--basic-dark);
  width: 310px;
  margin-top: 0;
  margin-left: 45px;
}


.benefits-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.benefits-item {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-info {
  max-width: 258px;
  margin: auto;
}

.benefit-2 {
  background-color: var(--basic-light-blue);
  display: grid;
  grid-template-columns: 800px 1fr;
  width: 1200px;
  height: 256px;
}

.benefit2-text-container {
  order: 1;
  text-align: center;
  margin: auto;
  width: 301px;
}

.benefits-item-2 {
  background-color: var(--basic-light-blue);
}

.benefits-title-2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  width: 151px;
  margin-right: auto;
  margin-left: auto;
}

.benefits-number-2 , .benefits-info-2 {
  font-weight: normal;
  color: var(--basic-white);
}

.other-benefits {
  width: 1200px;
  height: 256px;
}

.benefits-item {
  background-color: var(--basic-light-gray)
}

.benefits-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: inherit;
  width: 120px;
  margin: auto;
  margin-bottom: 30px;
}

.benefits-number, .benefits-info {
  font-weight: normal;
  color: var(--basic-dark);
}

.benefits-info {
  margin-top: 30px;
}

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 24px;
}

.hotel-search-text {
  font-weight: normal;
  color: var(--basic-dark);
}

.button {
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  border: none;
}

.search-button {
  padding: 30px 125px;
}

.button:hover {
  background-color: var(--basic-brown);
}
.button:focus {
  background-color: var(--basic-dark-brown);
}

.page-footer {
  width: 1200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-footer {
  background-color: var(--basic-transparent-white);
}

.contacts {
  display: flex;
  flex-direction: column;
}


.contacts a{
  color: var(--basic-black);
}

.socials-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.socials-item {
  background-image: url(/img/RectangleY.svg);
  background-repeat: no-repeat;
  padding: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.socials-item a {
  color: var(--basic-light-blue);
}

.socials-item a:hover {
  color: var(--basic-blue);
}
 
.socials-item a:focus {
  color: var(--basic-dark-blue);
}

.copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}



site-navigation-current a:not(href) {
  color: var(--basic-light-brown);
}


.sorting {
  font-weight: normal;
}

.sorting-list {
  list-style: none;
  font-weight: normal;
  display: flex;
}

.sorting-item {
  color: var(--basic-black);
}

.sorting-bar {
  display: flex;
}



.result-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.result-item {
  display: flex;
  align-items: center;
}

.result-inner {
  display: flex;
  
}



.price a:hover,
.type a:hover,
.rating a:hover {
  color: var(--basic-light-blue);
}

.price a:focus,
.type a:focus,
.rating a:focus {
  color: var(--basic-black);
}

.price a:active,
.type a:active,
.rating a:active {
  color: var(--basic-light-blue);
}


.hotel-title {
  font-weight: bold;
}

.hotel-title a:hover {
  color: var(--basic-light-blue);
}

.hotel-info a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-info {
  font-weight: normal;
  color: var(--basic-dark);
}

.rating-tag {
  color: var(--basic-dark-gray);
  background-color: var(--basic-extra-light-gray);
}

.details {
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.details:hover {
  background-color: var(--basic-blue);
}

.details:focus {
  background-color: var(--basic-dark-blue);
}

.book-button {
  font-weight: bold;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-brown);
}

.book-button:hover {
  background-color: var(--basic-brown);
}

.book-button:focus {
  background-color: var(--basic-dark-brown);
}