:root {
  --basic-neutral: #888888;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark: #333333;
  --basic-gray: #A9A9A9;
  --basic-light-gray: #EEEEEE;
  --basic-transparent-white: rgba(255, 255, 255, 0.9);
  --basic-light-blue: #81B3D2;
  --basic-extra-light-gray: #F2F2F2;
  --basic-dark-gray: #666666;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;

}


body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}


.font-size-21 {
  font-size: 21px;
  line-height: 26px;
}

.font-size-14 {
  font-size: 14px;
  line-height: 21px;
}

.font-size-12 {
  font-size: 12px;
  line-height: 18px;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation-current:not([href]) {
  color: var(--basic-light-brown);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}
.site-navigation a:active {
  color: var(--basic-light-brown);
}

.welcome {
  background: url(/img/background_photo.png) no-repeat center;
}

.welcome, .welcome-info, .benefits-text {
  text-align: center;
}

.benefits-text {
  font-weight: normal;
  color: var(--basic-dark);
}

.benefit-1 {
  background-color: var(--basic-light-blue)
}

.benefits-title-1 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.benefits-info-1 , .benefits-number-1 {
  font-weight: normal;
  color: var(--basic-white);
}


.features-list {
  list-style: none;
}

.features-item {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-black);
}

.features-info {
  font-weight: normal;
  color: var(--basic-dark);
}


.benefits-list {
  list-style: none;
}

.benefits-item-2 {
  background-color: var(--basic-light-blue);
}

.benefits-title-2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.benefits-number-2 , .benefits-info-2 {
  font-weight: normal;
  color: var(--basic-white);
}

.benefits-item {
  background-color: var(--basic-light-gray)
}

.benefits-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: inherit;
}

.benefits-number, .benefits-info {
  font-weight: normal;
  color: var(--basic-dark);
}


.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 24px;
}

.hotel-search-text {
  font-weight: normal;
  color: var(--basic-dark);
}

.button {
  font-weight: bold;
  color: var(--basic-white);
}

.button {
  background-color: var(--basic-light-brown);
}

.button:hover {
  background-color: var(--basic-brown);
}
.button:focus {
  background-color: var(--basic-dark-brown);
}

.main-footer {
  background-color: var(--basic-transparent-white);
}

.contacts a{
  color: var(--basic-black);
}

.socials-list {
  list-style: none;
}



.socials-item {
  background-image: url(/img/RectangleY.svg);
  background-repeat: no-repeat;
  padding: 10px;
  margin-top: 5px;
  
}

.socials-item a {
  color: var(--basic-light-blue);
}

.socials-item a:hover {
  color: var(--basic-blue);
}
 
.socials-item a:focus {
  color: var(--basic-dark-blue);
}

.copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}



site-navigation-current a:not(href) {
  color: var(--basic-light-brown);
}

.sorting {
  font-weight: normal;
}

.sorting-list {
  list-style: none;
  font-weight: normal;
}

.sorting-item {
  color: var(--basic-black);
}

.price a:hover,
.type a:hover,
.rating a:hover {
  color: var(--basic-light-blue);
}

.price a:focus,
.type a:focus,
.rating a:focus {
  color: var(--basic-black);
}

.price a:active,
.type a:active,
.rating a:active {
  color: var(--basic-light-blue);
}

.result-list {
  list-style: none;
}


.hotel-title {
  font-weight: bold;
}

.hotel-title a:hover {
  color: var(--basic-light-blue);
}

.hotel-info a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-info {
  font-weight: normal;
  color: var(--basic-dark);
}

.rating-tag {
  color: var(--basic-dark-gray);
  background-color: var(--basic-extra-light-gray);
}

.details {
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.details:hover {
  background-color: var(--basic-blue);
}

.details:focus {
  background-color: var(--basic-dark-blue);
}

.book-button {
  font-weight: bold;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-brown);
}

.book-button:hover {
  background-color: var(--basic-brown);
}

.book-button:focus {
  background-color: var(--basic-dark-brown);
}